Repository mintlayer/mintlayer-core, pull requests merged in 2023-10, with the labels that each got.

#1258 Respond with an empty headers list if in IBD state
  p2p/src/config.rs
  p2p/src/sync/peer_v1.rs
  p2p/src/sync/peer_v2.rs
  p2p/src/sync/tests/header_list_request.rs
Labels: p2p

#1260 Improve methods names in p2p/sync/TestNode
  p2p/src/sync/tests/ban_scores.rs
  p2p/src/sync/tests/block_announcement.rs
  p2p/src/sync/tests/block_list_request.rs
  p2p/src/sync/tests/block_response.rs
  p2p/src/sync/tests/header_list_request.rs
  p2p/src/sync/tests/header_list_response.rs
  p2p/src/sync/tests/helpers/mod.rs
  p2p/src/sync/tests/helpers/test_node_group.rs
  p2p/src/sync/tests/peer_events.rs
  p2p/src/sync/tests/tx_announcement.rs
Labels: p2p

#1264 Fix p2p test timeout on coverage
  p2p/p2p-test-utils/src/lib.rs
  p2p/src/sync/tests/network_sync.rs
Labels: p2p

#1270 blockprod: Ability to specify custom transactions
  blockprod/src/detail/mod.rs
  blockprod/src/detail/tests.rs
  blockprod/src/interface/blockprod_interface.rs
  blockprod/src/interface/blockprod_interface_impl.rs
  blockprod/src/lib.rs
  blockprod/src/rpc.rs
  mempool/src/error/mod.rs
  mempool/src/interface/mempool_interface.rs
  mempool/src/interface/mempool_interface_impl.rs
  mempool/src/pool/collect_txs.rs
  mempool/src/pool/mod.rs
  mempool/src/pool/store/mod.rs
  mempool/src/pool/tests/accumulator.rs
  mempool/src/pool/tests/mod.rs
  mempool/src/tx_accumulator.rs
  mocks/src/mempool.rs
  test/functional/blockprod_generate_blocks_all_sources.py
  test/functional/blockprod_generate_pos_blocks.py
  test/functional/blockprod_generate_pos_blocks_rand_genesis_keys.py
  test/functional/blockprod_generate_pos_genesis_blocks.py
  test/functional/blockprod_generate_pow_blocks.py
  test/functional/blockprod_ibd.py
  test/functional/blockprod_ibd_genesis.py
  test/functional/feature_db_reinit.py
  test/functional/feature_lmdb_backend_test.py
  test/functional/mempool_basic_reorg.py
  test/functional/mempool_timelocked_tx.py
  test/functional/p2p_syncing_test.py
  test/functional/test_framework/test_framework.py
  test/functional/test_runner.py
  test/functional/wallet_delegations.py
  test/functional/wallet_generate_addresses.py
  test/functional/wallet_get_address_usage.py
  test/functional/wallet_high_fee.py
  test/functional/wallet_nfts.py
  test/functional/wallet_recover_accounts.py
  test/functional/wallet_select_utxos.py
  test/functional/wallet_submit_tx.py
  test/functional/wallet_tokens.py
  utils/src/graph_traversals.rs
  wallet/wallet-cli-lib/src/commands/mod.rs
  wallet/wallet-controller/src/lib.rs
  wallet/wallet-controller/src/sync/tests/mod.rs
  wallet/wallet-node-client/src/handles_client/mod.rs
  wallet/wallet-node-client/src/node_traits.rs
  wallet/wallet-node-client/src/rpc_client/client_impl.rs
Labels: enhancement, mempool, block-production

#1303 Freeze/unfreeze tokens
  chainstate/src/detail/ban_score.rs
  chainstate/test-framework/src/random_tx_maker.rs
  chainstate/test-suite/src/tests/data_deposit.rs
  chainstate/test-suite/src/tests/fungible_tokens_v1.rs
  chainstate/tx-verifier/src/transaction_verifier/error.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/constraints_accumulator.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/mod.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/purposes_check.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/tests/outputs_utils.rs
  chainstate/tx-verifier/src/transaction_verifier/mod.rs
  chainstate/tx-verifier/src/transaction_verifier/signature_destination_getter.rs
  chainstate/tx-verifier/src/transaction_verifier/tests/hierarchy_read.rs
  chainstate/tx-verifier/src/transaction_verifier/tests/hierarchy_write.rs
  chainstate/tx-verifier/src/transaction_verifier/transferred_amount_check.rs
  common/src/chain/config/builder.rs
  common/src/chain/config/mod.rs
  common/src/chain/tokens/issuance.rs
  common/src/chain/tokens/tokens_utils.rs
  common/src/chain/transaction/account_outpoint.rs
  mempool/src/error/ban_score.rs
  mempool/src/pool/entry.rs
  mempool/src/pool/orphans/detect.rs
  test-utils/src/nft_utils.rs
  tokens-accounting/src/cache.rs
  tokens-accounting/src/data.rs
  tokens-accounting/src/error.rs
  tokens-accounting/src/operations.rs
  tokens-accounting/src/tests/operations_tests.rs
  wallet/src/account/mod.rs
  wallet/src/account/output_cache/mod.rs
  wallet/src/wallet/tests.rs
  wallet/wallet-controller/src/synced_controller.rs
Labels: chainstate

#1318 Allow changing authority for a token
  chainstate/src/detail/ban_score.rs
  chainstate/test-framework/src/block_builder.rs
  chainstate/test-framework/src/random_tx_maker.rs
  chainstate/test-suite/src/tests/fungible_tokens_v1.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/constraints_accumulator.rs
  chainstate/tx-verifier/src/transaction_verifier/input_output_policy/purposes_check.rs
  chainstate/tx-verifier/src/transaction_verifier/mod.rs
  chainstate/tx-verifier/src/transaction_verifier/signature_destination_getter.rs
  chainstate/tx-verifier/src/transaction_verifier/transferred_amount_check.rs
  common/src/chain/config/builder.rs
  common/src/chain/config/mod.rs
  common/src/chain/tokens/tokens_utils.rs
  common/src/chain/transaction/account_outpoint.rs
  common/src/chain/transaction/signature/tests/sign_and_mutate.rs
  mempool/src/error/ban_score.rs
  mempool/src/pool/entry.rs
  tokens-accounting/src/cache.rs
  tokens-accounting/src/data.rs
  tokens-accounting/src/error.rs
  tokens-accounting/src/operations.rs
  tokens-accounting/src/storage/in_memory.rs
  tokens-accounting/src/tests/operations_tests.rs
  wallet/src/account/mod.rs
  wallet/src/account/output_cache/mod.rs
Labels: chainstate
